@model MoviePro.Models.Movie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlTrailer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlTrailer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionByAuthor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionByAuthor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
