@model List<Magazine>
@using MoviePro.Models.Services
@inject MovieServices MovieServices
@inject MagazineServices MagazineServices
@{
    ViewData["Title"] = "AllListNews";
}
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">Newest News</h3>
            <p class="w3ls_head_para"><a asp-controller="SingleMagazine" asp-action="AllListNews">All List News</a></p>
        </div>
        <div class="latest-news-agile-info">
            <div class="col-md-8 latest-news-agile-left-content">
                @foreach (var x in Model)
                {
                    <div class="w3-agileits-news-one">
                        <div class="wthree-news-info">
                            <h5><a>@x.NewsName</a></h5>
                            <div class="agile-post">
                                @*by <a title="w3ls">@x.User.Name</a> on	@x.DateTime.Day.@x.DateTime.Month.ToString().@x.DateTime.Year*@
                            </div>
                            @*<p>
                                @Html.Raw(x.Description);
                                .
                            </p>*@
                            <a class="new-more" asp-controller="SingleMagazine" asp-action="Index" asp-route-id="@x.Id">Read More</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <br />
                    <hr />
                }
            </div>
            <div class="col-md-4 latest-news-agile-right-content">
                <h4 class="side-t-w3l-agile">For Latest <span>News</span></h4>
                <div class="side-bar-form">
                    <form asp-controller="SingleMagazine" asp-action="SearchListNews" method="post">
                        <input type="search" name="name" placeholder="Search here...." required="required">
                        <input type="submit" value=" ">
                    </form>
                </div>
                <div class="side-t-w3l-agile">
                    <h3>Hot <span>Topics</span></h3>
                    <ul class="side-bar-agile">
                        @foreach (var x in MagazineServices.MagazineLastestNews())
                        {
                            <li><a asp-controller="SingleMagazine" asp-action="Index" asp-route-id="@x.Id">@x.NewsName</a><p>@x.DateTime.Day.@x.DateTime.Month.ToString().@x.DateTime.Year</p></li>
                        }
                    </ul>
                </div>
                <div class="side-t-w3l-agile">
                    <h3>Latest <span>Trailer</span></h3>
                    <div class="video_agile_player sidebar-player">
                        <div class="video-grid-single-page-agileits">
                            <div data-video="6tz1_znrbmc" id="video1"> <img src="~/images/22.jpg" alt="" class="img-responsive"> <div id="play"></div></div>
                        </div>
                        <div class="player-text side-bar-info">
                            <p class="fexi_header">Me Before You </p>
                            <p class="fexi_header_para">
                                <span class="conjuring_w3">Story Line<label>:</label></span>Me Before You Official Trailer #2 (2016) - Emilia Clarke, Sam Claflin Movie HD

                                A girl in a small town forms an unlikely....
                            </p>
                            <p class="fexi_header_para"><span>Release On<label>:</label></span>Feb 3, 2016 </p>
                            <p class="fexi_header_para">
                                <span>Genres<label>:</label> </span>
                                <a href="genre.html">Drama</a> |
                                <a href="genre.html">Adventure</a> |
                                <a href="genre.html">Family</a>
                            </p>
                            <p class="fexi_header_para fexi_header_para1">
                                <span>Star Rating<label>:</label></span>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="agile-info-recent">
                    <h4 class="side-t-w3l-agile">Hot <span>Trailer</span></h4>
                    <div class="w3ls-recent-grids">
                        @foreach (var x in MovieServices.ListPopulatedMovies())
                        {
                            <div class="w3l-recent-grid">
                                <div class="wom">
                                    <a asp-controller="SingleMovie" asp-action="Index" asp-route-id="@x.Id"><img src="@x.UrlImage" alt=" " class="img-responsive"></a>
                                </div>
                                <div class="wom-right">
                                    <h5><a asp-controller="SingleMovie" asp-action="Index" asp-route-id="@x.Id">@x.MovieName</a></h5>
                                    <p>
                                        @x.Description.Substring(1, 35)
                                        ...
                                    </p>
                                    <ul class="w3l-sider-list">
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>@x.DateReleased.Date</li>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i> @x.Views</li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="agile-info-recent">
                    <h4 class="side-t-w3l-agile">Hot <span>Trailer</span></h4>
                    <div class="w3ls-recent-grids">
                        @foreach (var x in MovieServices.ListPopulatedMovies())
                        {
                            <div class="w3l-recent-grid">
                                <div class="wom">
                                    <a asp-controller="SingleMovie" asp-action="Index" asp-route-id="@x.Id"><img src="@x.UrlImage" alt=" " class="img-responsive"></a>
                                </div>
                                <div class="wom-right">
                                    <h5><a asp-controller="SingleMovie" asp-action="Index" asp-route-id="@x.Id">@x.MovieName</a></h5>
                                    <p>
                                        @x.Description.Substring(1, 35)
                                        ...
                                    </p>
                                    <ul class="w3l-sider-list">
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>@x.DateReleased.Date</li>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i> @x.Views</li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//content-inner-section-->